/lib/seriousjs-embed.js
/pegjs
/src/grammar/_compiled.pegjs
/src/grammar/_parser.js
node_modules
*.log
/seriousjs*.*gz

# Used for testing the projectTemplates
_requirejs

# IDE stuff
*.sublime-*
*.swp

