
/** Wtf, firefox.  14 years?  https://bugzilla.mozilla.org/show_bug.cgi?id=35168
    */
.firefox-fix {
    position: relative;
    height: 100%;
    width: 100%;
}

.firefox-fix-inner {
    position: absolute;
    top: 0;
    right: 0.5em;
    bottom: 0;
    left: 0;
    border: solid 1px #888;
    padding: 0.25em;
    margin-top: 0.25em;
}

.interpreter table {
    width: 100%;
}

.interpreter .code-panels td {
    position: relative;
    height: 400px;
    width: 50%;
}

.interpreter textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 9pt;
    margin: 0;
    padding: 0;
    border: 0;
}

.interpreter textarea.javascript {
    word-wrap: normal;
    white-space: pre;
}

.interpreter .results {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    min-width: 200px;
    border: solid 1px #555;
    background-color: #feb;
    font-family: monospace;
    font-size: 9pt;
    overflow-x: auto;
}

.interpreter .results-header {
    border-bottom: solid 1px #555;
}

.interpreter .results-error {
    color: #f00;
    font-size: 8pt;
    white-space: pre;
}
