
.interpreter table {
    width: 100%;
}

.interpreter .code-panels td {
    position: relative;
    height: 400px;
    width: 50%;
}

.interpreter textarea {
    position: absolute;
    top: 0;
    right: 0.5em;
    bottom: 0;
    left: 0;
    font-family: monospace;
    font-size: 9pt;
}

.interpreter textarea.javascript {
    word-wrap: normal;
    white-space: pre;
}

.interpreter .results {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    min-width: 200px;
    border: solid 1px #555;
    background-color: #feb;
    font-family: monospace;
    font-size: 9pt;
    overflow-x: auto;
}

.interpreter .results-header {
    border-bottom: solid 1px #555;
}

.interpreter .results-error {
    color: #f00;
    font-size: 8pt;
    white-space: pre;
}
