extends layout
block scripts
  script(type="text/javascript", src="/zsrc/jquery-1.9.1.min.js")
  script(type="text/javascript", src="/zsrc/shared/underscore-min.js")
  script(type="text/javascript", src="/zsrc/shared/backbone-min.js")
  script(type="text/javascript", data-main="/src/_requirejs/loader",
      src="/src/_requirejs/require.js")

block content
  h1= title
  p Welcome to #{title}
